{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<div class="page" data-pageid="1">
    <div data-key="16" class="hint-area">
        <p>請點擊鍵盤 <kbd>shift</kbd> 播放音檔<p>
    </div>

    <div class="text-area">
        {% formfield player.accept1 %}
    </div>

    <div class="text-area">
        {% next_button %}
    </div>
    
    <div class="time-area">
        {% formfield player.listenTime1 %}
        {% formfield player.decisionduration1 %}
    </div>

</div>

<audio preload data-key="16" src="{% static '4_105.mp3' %}">
</audio>
{% endblock %}
