{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<div class="page" data-pageid="30">
    <div class="word">
        <p>{{Constants.subject}}</p>
        <p>{{Constants.week_num1}}週後</p>
        <p>得到</p>
        <p>{{Constants.money_num1}}元</p>
    </div>

    <div class="ans">
        {% formfield player.accept30 %}
    </div>

    <div class="ans">
        {% next_button %}
    </div>

    <div class="time-area">
        {% formfield player.listenTime30 %}
        {% formfield player.decisionduration30 %}
    </div>
</div>
{% endblock %}
